@charset "UTF-8";

* {
    margin: 0%;
    padding: 0%;

}

body {
    background-color: #262626;
}

header {
    background: linear-gradient(to right, #4d0f00, #cc2900, #b32400);
    padding: 30px;
}

header>h1 {
    color: #ffcc00;
    text-align: center;
    font-size: 55px;
    margin-top: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#inaveg {
    display: flex;
    flex-flow: column nowrap;
    width: 320px;
    height: 600px;
    margin-left: 10px;
    margin-top: 30px;
    background-color: #8b1c00;
    text-align: center;
}

main {
    width: 800px;
    margin-top: -600px;
    background-color: #0066cc;
    padding: 10px;
    border-radius: 3%;
    margin-left: 25%;
}

h2 {
    padding: 5px;
    font-size: 30px;
    color: #d3b748;
}

p {
    padding: 5px;
    font-size: 17px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

li {
    margin-top: 15px;
}

nav>ul>li>a {
    color: #ffcc00;
    text-decoration: none;
    padding: 5px;
    font-size: 20px;
    font-weight: bolder;
}

nav>ul>li>a:hover {
    color: #59a3ee;
    text-decoration: underline;
}

.imgconten {
    display: flex;
    flex-flow: column nowrap;
    background-color: #D3B748;
    width: 530px;
    height: 800px;
    position: absolute;
    left: 1350px;
    top: 150px;
    margin-top: 30px;
    border-radius: 5%;
}

img {
    width: 500px;
    height: 800px;
    margin: auto;
}

footer {
    background-color: #8B1C00;
    color: #FFCC00;
    text-align: center;
    margin-top: 10px;
}

footer>p {
    font-size: 20px;
    font-weight: bolder;
}