@charset "UTF-8";

/* Os pontos de interrupção do dispositivo são larguras de tela específicas usadas no design responsivo da web para adaptar o layout a vários dispositivos. Aqui estão os pontos de interrupção típicos do dispositivo:

Dispositivos extrapequenos (telefones)

Menos de 576px
Dispositivos pequenos (telefones)

576px e mais
Dispositivos médios (tablets)

768px e mais
Dispositivos grandes (desktops)

992px e mais
Dispositivos extragrandes (desktops grandes)

1200px e mais
Dispositivos extraextragrandes (desktops muito grandes)

1400px e mais
Esses pontos de interrupção ajudam a garantir que os sites sejam visualmente atraentes e funcionais em uma ampla variedade de dispositivos, de pequenos smartphones a grandes monitores de desktop. */

@media screen and (min-width: 766px) { /* Tablets*/

    main {

        width: 600px;
        height: 500px;
    }

    h1 {

        font-size: 4em;
    }
    
}

@media screen and (min-width: 992px) { /* Desktops */ 

        main {

            height: 700px;
            width: 700px;
            background-color: #17191E;
            color: white;
        }
        
        h1 {

            font-size: 5em;
        }

        .i {

            border: 1px solid white;
            color: white;
        }

        .ient:hover {

            background-color: #55689c;
            
        }
    
}