@charset "UTF-8";
* {
    margin: 0%;
}

body {
    background-image: url("imagens/fundo-madeira.jpg");
    
    
    background-size: 100vw 100vh ;
    
    background-repeat: no-repeat;
    background-position:center top ;
    position: relative;

    
    
}
.iphone {
    width: 300px;
    height: 563px; 
    position: absolute;
    top: 50%;
    left: 50%;
    
    transform: translate(-50% ,10%); 
    
    
}
.home {
    border-radius: 50%;
    width: 50px;
    position: absolute;
    left: 94%;
    top: 30px;

    

}
.home:hover {
    border: 1px solid white ;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.521);
    transition: 0.6s;
    left: 93%;
    top: 25px;
    
}
.github {
    border-radius: 50% ;
    width: 50px;
    position: absolute;
    left: 94%;
    top: 100px;
    
}
.github:hover {
    border: 1px solid white ;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.521);
    transition: 0.6s;
    left: 93%;
    top: 95px;
}
.instagram {
    border-radius: 50%;
    width: 50px;
    position: absolute;
    left: 94%;
    top: 170px;
}
.instagram:hover {
    border: 1px solid white ;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.521);
    transition: 0.6s;
    left: 93%;
    top: 165px;
}
.youtube {
    border-radius: 50% ;
    width: 50px;
    position: absolute;
    left: 94%;
    top: 240px;
}
.youtube:hover {
    border: 1px solid white ;
    box-shadow:6px 6px 10px rgba(0, 0, 0, 0.521);
    transition: 0.6s;
    left: 93%;
    top: 235px;
}
iframe {
    position: absolute;
    width: 257px;
    height: 424px;
    top: 50%;
    left: 50%;
    transform: translate(-50% ,30%);
    
}

